/* ---------- Titles ---------- */
.titleh1{
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 12px;

  color: #f5f5f5;
  text-align: center;
}

.titleh2{
  font-size: 18px;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 28px;

  color: #f5f5f5;
  text-align: center;
}
